<robot name="poles">
   <material name="Brown">
     <color rgba="83./255. 53./255. 10./255."/>
   </material>
   <material name="White">
     <color rgba="1 1 1"/>
   </material>
   <material name="Grey">
     <color rgba=".3 .3 .3"/>
   </material>
   <material name="Red">
     <color rgba="1 0 0"/>
   </material>
   <link name="world"/>

   <link name="pole1">
   	<inertial>
   		<mass value=".5" />
   		<origin xyz="0 0 1.5" rpy="0 0 0"/>
		  <inertia ixx="10"  ixy="0"  ixz="0" iyy="10" iyz="0" izz="1" />
   	</inertial>
  	<visual>
      <origin xyz="0 0 1.5" rpy="0 0 0" />
      <geometry>
        <box size="0.042 0.042 3"/>
      </geometry>
      <material name="White"/>
    </visual>
    <collision>
      <origin xyz="0 0 1.5" rpy="0 0 0" />
      <geometry>
        <box size="0.042 0.042 3"/>
      </geometry>
    </collision>
   </link>
   <joint name="pole1_weld" type="fixed">
    <parent link="world"/>
      <child link="pole1"/>
    <origin xyz="-.5 .5 0" rpy="0 0 0" />
   </joint>

   <link name="pole2">
   	<inertial>
   		<mass value=".5" />
   		<origin xyz="0 0 1.5" rpy="0 0 0"/>
		  <inertia ixx="10"  ixy="0"  ixz="0" iyy="10" iyz="0" izz="1" />
   	</inertial>
  	<visual>
      <origin xyz="0 0 1.5" rpy="0 0 0" />
      <geometry>
        <box size="0.042 0.042 3"/>
      </geometry>
      <material name="White"/>
    </visual>
    <collision>
      <origin xyz="0 0 1.5" rpy="0 0 0" />
      <geometry>
        <box size="0.042 0.042 3"/>
      </geometry>
    </collision>
   </link>
   <joint name="pole2_weld" type="fixed">
    <parent link="world"/>
      <child link="pole2"/>
    <origin xyz="-.5 -.5 0" rpy="0 0 0" />
   </joint>

   <link name="pole3">
   	<inertial>
   		<mass value=".5" />
   		<origin xyz="0 0 1.5" rpy="0 0 0"/>
		  <inertia ixx="10"  ixy="0"  ixz="0" iyy="10" iyz="0" izz="1" />
   	</inertial>
  	<visual>
      <origin xyz="0 0 1.5" rpy="0 0 0" />
      <geometry>
        <box size="0.042 0.042 3"/>
      </geometry>
      <material name="White"/>
    </visual>
    <collision>
      <origin xyz="0 0 1.5" rpy="0 0 0" />
      <geometry>
        <box size="0.042 0.042 3"/>
      </geometry>
    </collision>
   </link>
   <joint name="pole3_weld" type="fixed">
    <parent link="world"/>
      <child link="pole3"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
   </joint>

</robot>