<robot name="holodeck">
   <material name="Brown">
     <color rgba="83./255. 53./255. 10./255."/>
   </material>
   <material name="White">
     <color rgba="1 1 1"/>
   </material>
   <material name="Grey">
     <color rgba=".3 .3 .3"/>
   </material>
   <material name="Red">
     <color rgba="1 0 0"/>
   </material>
   <link name="world"/>

   <link name="ball">
   	<inertial>
   		<mass value=".5" />
   		<origin xyz="0 0 0" rpy="0 0 0"/>
		  <inertia ixx="10"  ixy="0"  ixz="0" iyy="10" iyz="0" izz="10" />
   	</inertial>
  	<visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
      <material name="Red"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
    </collision>
   </link>
   <joint name="ball_weld" type="fixed">
    <parent link="world"/>
      <child link="ball"/>
    <origin xyz="1.5 2 .75" rpy="0 0 0" />
   </joint>

</robot>