<?xml version="1.0" ?>
<robot xmlns="http://drake.mit.edu"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 name="crazyflie2">
  <link name="base_link">
    <inertial>
      <mass value="0.03337"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="2.15e-006" ixy="2.37e-007" ixz="0" iyy="2.15e-006" iyz="0" izz="4.29e-006"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="mesh/crazyflie.obj" scale=".001"/>
      </geometry>
    </visual>
  </link>
  <force_element name="prop1">
    <propellor lower_limit="2.8" upper_limit="40.87" scale_factor_thrust="0.004522393588278" scale_factor_moment="-0.0001" visual_geometry="false">
      <parent link="base_link"/>
      <origin xyz="0.046 0 0"/>
      <axis xyz="0 0 1"/>
    </propellor>
  </force_element>
  <force_element name="prop2">
    <propellor lower_limit="2.8" upper_limit="40.87" scale_factor_thrust="0.004522393588278" scale_factor_moment="0.0001" visual_geometry="false">
      <parent link="base_link"/>
      <origin xyz="0 -0.046 0"/>
      <axis xyz="0 0 1"/>
    </propellor>
  </force_element>
  <force_element name="prop3">
    <propellor lower_limit="2.8" upper_limit="40.87" scale_factor_thrust="0.004522393588278" scale_factor_moment="-0.0001" visual_geometry="false">
      <parent link="base_link"/>
      <origin xyz="-0.046 0 0"/>
      <axis xyz="0 0 1"/>
    </propellor>
  </force_element>
  <force_element name="prop4">
    <propellor lower_limit="2.8" upper_limit="40.87" scale_factor_thrust="0.004522393588278" scale_factor_moment="0.0001" visual_geometry="false">
      <parent link="base_link"/>
      <origin xyz="0 0.046 0"/>
      <axis xyz="0 0 1"/>
    </propellor>
  </force_element>
</robot>